@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@media (min-width: 641px){
body{
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
overflow-x: hidden;
margin: 0 auto;
}
.Header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0 140px 5px 30px;
margin: 0 auto;
width: 1440px;
height: 100px;
background-color: #38466D;
}
.Header img{
width: 120px;
height: 70px;
}
.Menu li{
display: inline-flex;
padding-right: 112px;
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.Menu li a{
text-decoration: none;
color: white;
line-height: 1;
cursor: pointer;
}
.Menu a:after{
background-color: white; 
display: block;
content: "";
height: 2px;
width: 0%;
margin-top: 3px;
-webkit-transition: width .3s ease-in-out;
-moz--transition: width .3s ease-in-out;
transition: width .3s ease-in-out;
}
.Menu a:hover:after,
.Menu a:focus:after {
    width: 100%;
}
.Burger{
display: none;
}


.Courses_centr{
margin: 0 auto;
}
.Courses_centr h1{
margin: 93px auto 0;
width: 1160px;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 55px;
}
.Courses_centr p{
margin: -55px auto 0;
margin-left: 442px;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 55px;
}
.Courses_centr h1:after{
content: '\2022   4 курса';
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 55px;
}


[class^="C_"]{
margin: 53px auto 0;
width: 1160px;
height: 609px;
border-radius: 20px;
box-shadow: 0 0 3px 1px #CCC;
}
.C_one{
margin: 33px auto 0;
}
[class^="C_"] .CC{
width: 360px;
height: 609px;
background-color: #38466D;
border-radius: 20px 0 0 20px;
}
[class^="C_"] .CC img{
width: 250px;
height: 250px;
margin: 56px 59px 0 59px;
}
[class^="C_"] .CC h2{
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px;
width: 250px;
margin: 19px 0 0 59px;
color: white;
}
[class^="C_"] .CC h3{
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 27px;
width: 250px;
margin: 0 0 0 59px;
color: white;
}
[class^="C_"] .CC p{
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px;
width: 250px;
margin: 19px 0 0 59px;
color: white;
}
[class^="C_"] .CI{
margin: -630px 0 0 360px;
width: 800px;
height: 609px;
border-radius: 0 20px 20px 0;
}

[class^="C_"] h4{
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 36px;
width: 660px;
margin: 56px 0 0 41px;
}
[class^="C_"] h5{
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 27px;
width: 660px;
margin: 22px 0 0 41px;
}
.CII img{
position: absolute;
width: 30px;
height: 30px;
margin: 35px 0 0 41px;
}
.CII_two img{
margin-left: 240px;
}
.CII_three img{
margin-top: 80px;
}
.CII_fore img{
margin-left: 240px;	
margin-top: 80px;
}
.CII p{
position: absolute;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px;
width: 335px;
margin: 40px 0 0 80px;
}
.CII_two p{
margin-left: 279px;
}
.CII_three p{
margin-top: 85px;
}
.CII_fore p{
margin-left: 279px;	
margin-top: 85px;
}
.CIP p{
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px;
margin: 148px 0 0 41px;
width: 260px;
}
.CIP h2{
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px;
margin: 3px 0 0 41px;
width: 260px;
color: gray;
text-decoration: line-through;
}
.CIP h3{
color: #A82929;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px;
margin: -24px 0 0 140px;
}
.CIP h4{
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px;
margin: 7px 0 0 41px;
}
.CIB button{
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
border-radius: 5px;
width: 260px;
height: 35px;
border: 1px solid #38466D;
}
.CIB_one button{
color: #FFF;	
background: #38466D;
margin: 35px 0 0 41px;
transition: .5s ease-in-out;
}
.CIB_one button:hover{
transition: .5s ease-in-out;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
color: #38466D;
background-color: rgba(50, 70, 109, .2);
}
.CIB_two button{
position: absolute;
color: #38466D;
background-color: rgba(50, 70, 109, .2);
margin: -35px 0 0 340px;
transition: .5s ease-in-out;
}
.CIB_two button:hover{
transition: .5s ease-in-out;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
color: #FFF;	
background: #38466D;
}
.C_two .CIB button{
position: absolute;
margin: 15px 0 0 41px;
}
.C_two .CIB .CIB_two button{
margin-left: 340px;
}


.Footer{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin: 87px auto 0;
width: 1440px;
height: 120px;
background-color: #38466d;
}
.Footer ul{
display: inline-flex;
list-style: none;
margin-left: -222px;
}
.Footer li{
padding-right: 41px;	
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
}
.Footer li a{
color: white;
text-decoration: none;
}
.Footer img{
width: 150px;
height: 80px;
margin-left: 50px;;
}
.FMess{
display: flex;
flex-direction: row;
}
[class^="FM_"] img{
width: 60px;
height: 60px;
}
.FM_two img{
width: 65px;
height: 65px;
}
.FM_three img{
width: 60px;
height: 60px;
margin-right: 60px
}
}
















@media (min-width: 300px) and (max-width: 640px){
body{
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
overflow-x: hidden;
margin: 0 auto;
}
.Header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
flex-flow: row wrap;
margin: 0 auto;
/*height: 60px;*/
background-color: #38466D;
z-index: 30;
}
.Logo{
display: flex;
flex-direction: row;
align-items: center;
height: 60px;
}
.Logo img{
width: 70px;
height: 40px;
margin-left: 20px;
}
.Nav{
display: none;
flex-direction: column;
justify-content: flex-end;
align-items: center;
width: 100vw;
background-color: #38466D;
}
.Menu{
margin-top: 10px;
margin-bottom: 10px;
display: flex;
flex-direction: column;
align-items: center;
list-style: none;
}
.Menu li{
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 300;
line-height: 42px;
margin-bottom: 10px;
margin-left: -40px;
cursor: pointer;
}
.Menu li a{
text-decoration: none;
color: white;
}
.Burger{
width: 45px;
height: 45px;
margin-right: 20px;
}

.Courses_centr{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
margin: 0 auto;
width: 90vw;
}
.Courses_centr h1{
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: 42px;
margin: 20px 10px 20px 0;
width: 300px;
}
.Courses_centr h1:after{
position: absolute;
content: '\2022   4 курса';
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 42px;
margin-left: 10px;
}


[class^="C_"]{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 90vw;
margin-bottom: 40px;
box-shadow: 0 0 3px 1px #CCC;
border-radius: 10px;
}
.CC{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
background-color: #38466D;
border-radius: 10px 10px 0 0;
width: 90vw;
}
.CC img{
width: 80vw;
height: 80vw;
border-radius: 10px 10px 0 0;
margin-top: 25px;
}
.CC h2{
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px;
margin-top: 10px;
color: white;
}
.CC h3{
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px;
margin-top: -15px;
margin-bottom: 20px;
color: white;
}
.CC p{
display: none;
}
.CC p br{
display: none;
}
.CI{
display: flex;
flex-direction: column;
}
.CI h4{
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px;
margin: 20px 35px 0 35px;
}
.CI h5{
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin: 20px 35px 0 35px;
}
.CII{
display: flex;
flex-direction: column;
width: 80vw;
margin-top: 30px;
}
.CII [class^="CII_"]{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin-bottom: 15px;
}
[class^="CII_"] img{
width: 40px;
height: 40px;
margin-left:25px;
}
.CII_one img{
margin-left: 30px;
}
[class^="CII_"] p{
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
margin-left: 30px;
}
.CII_one p{
margin-left: 26px;
}
.CIP{
display: flex;
flex-direction: column;
margin-top: 20px;
}
.CIP p{
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 21px;
margin-top: 10px;
margin-left: 25px;
}
.CIP h2{
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 27px;
color: gray;
margin-top: 0;
margin-left: 25px;
}
.C_one .CIP h2:before{
content: '34 999 P';
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 30px;
color: #A82929;
margin-right: 10px;
}
.C_two .CIP h2:before{
content: '24 999 P';
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 30px;
color: #A82929;
margin-right: 10px;
}
.C_three .CIP h2:before{
content: '64 999 P';
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 30px;
color: #A82929;
margin-right: 10px;
}
.C_fore .CIP h2:before{
content: '14 999 P';
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 30px;
color: #A82929;
margin-right: 10px;
}
.CIP h3{
display: none;
}
.CIP h4 {
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
margin: -20px 0 0 25px;
}
.CIB_one{
display: none;
}
.CIB_two button{
width: 80vw;
height: 50px;
color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 36px;
border-radius: 5px;
background: #38466D;
margin: 30px 0 20px 25px;
border: none;
}

.Footer{
margin: 0 auto;
display: flex;
justify-content: space-between;
flex-flow: row wrap;
background-color: #38466d;
}
.Footer img{
order: 2;
width: 110px;
height: 60px;
margin: 50px 30px 0 0;
}
.Footer_menu{
display: flex;
flex-direction: column;
order: 1;
list-style: none;
margin-left: -10px;
margin-top: 40px;
}
.Footer_menu li{
margin: 0;
margin-bottom: 10px;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
color: white;
}
.Footer_menu li a{
text-decoration: none;
color: white;
}
.FMess{
margin: 30px 0 15px 30px;
display: flex;
justify-content: space-between;
margin-left: inherit;
margin-right: inherit;
order: 3;
width: 260px;
}

[class^="FM_"] img{
margin: 0;
width: 60px;
height: 60px;
}
.FM_two img{
margin-top: -2px;
width: 65px;
height: 65px;
}
}
